<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-top: 20px;">
  <ul class="nav navbar-nav">
    <li><a class="navbar-brand" class="text-center">TechForum 2013 &copy; INTUIT. By Nitin Pasumarthy</a></li>
  </ul>
</nav>