<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/items"><img src="/images/Logo.png" height="36px" alt="e-commerce" /> e-commerce @ INTUIT</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form nav navbar-nav navbar-right" role="search" action="/items">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Search" value="<%= params[:name] %>" autofocus>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
      <%= link_to 'Register', new_user_path, :class => "btn btn-success" %>
    </form>
  </div>
  <!-- /.navbar-collapse -->
</nav>